@use "variables" as v;

footer {
    height: 10vh;
    @include v.flex(row, space-around, center, wrap);
    ul {
        display: flex;
        gap: 20px;
        li {
            list-style: none;
            .rrss {
                height: 5vh;
                width: auto;
            }
        }
    }
    .whatsapp {
        height: 5vh;
        position: fixed;
        bottom: 50px;
        right: 50px;
        animation: whats 1s infinite ease-in-out;
    }

    @include v.mobile {
        display: grid;
        grid-template-areas:
            "dd oo"
            "rs rs"
        ;
        justify-items: center;
        align-items: center;
        column-gap: 20px;
        text-align: center;

        .der {
            grid-area: dd;
        }

        .own {
            grid-area: oo;
        }

        .rs {
            grid-area: rs;
        }
    }
}

// Animación

@keyframes whats {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    75%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}