@use "variables" as v;

.int-main{
    @include v.flex(column, center, center, wrap);
    row-gap: 20px;
    .metallica{
        width: 60vw;
        height: auto;
    }
    .lu{
        @extend %card-int;
    }
    .jh{
        @extend %card-int;
        h2, h3{
            color: green;
        }
    }
    .kh{
        @extend %card-int;
        h2,h3{
            color: v.$fuente-secundaria;
        }
    }
    .rt{
        @extend %card-int;
        h2,h3{
            color: v.$fuente-hover;
        }
    }
    section{
        display: flex;
        column-gap: 150px;
    }
    @include v.tablet{
        display: grid;
        grid-template-areas:
        "met met" "guitar guitar" "bat bass";
        justify-items: center;
        align-items: center;
        .met-card{
            width: 35vw;
            .bio{
                width: 25vw;
            }
        }
        .metallica{
            width: 80vw;
            grid-area: met;
        }
        section{
            grid-area: guitar;
            column-gap: 50px;
            // justify-content: space-around;
        }
        .lu{
            grid-area: bat;
        }
        .rt{
            grid-area: bass;
        }
    }
    @include v.mobile{
        .metallica{
            width: 80vw;
        }
        .met-card{
            width: 75vw;
            .bio{
                width: 60vw;
            }
        }
        section{
            flex-direction: column;
            row-gap: 20px;
        }
    }
}