@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
* {
  font-family: Metal Mania;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.int-main .lu, .int-main .jh, .int-main .kh, .int-main .rt {
  padding: 10px;
  width: 30vw;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.int-main .lu h2, .int-main .jh h2, .int-main .kh h2, .int-main .rt h2, .int-main .lu h3, .int-main .jh h3, .int-main .kh h3, .int-main .rt h3 {
  color: whitesmoke;
}
.int-main .lu .bio, .int-main .jh .bio, .int-main .kh .bio, .int-main .rt .bio {
  height: auto;
  width: 15vw;
  border-radius: 15px;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .logo {
  height: 8vh;
  width: auto;
}
header .titulo {
  height: 10vh;
  width: auto;
}
header .navbar-nav .nav-link {
  text-decoration: none;
  color: whitesmoke;
}
header .navbar-nav :hover {
  color: crimson;
}
header .navbar-nav .nav-link.active {
  text-decoration: none;
  color: gold;
}
@media (min-width: 320px) and (max-width: 430px) {
  header .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  gap: 30px;
}
footer ul li {
  list-style: none;
}
footer ul li .rrss {
  height: 5vh;
  width: auto;
}
footer .whatsapp {
  height: 5vh;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: whats 1s infinite ease-in-out;
}
@media (min-width: 431px) and (max-width: 968px) {
  footer {
    display: grid;
    grid-template-areas: "dd oo" "rs rs";
    justify-items: center;
  }
  footer .der {
    grid-area: dd;
  }
  footer .own {
    grid-area: oo;
  }
  footer .rs {
    grid-area: rs;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  footer {
    display: grid;
    grid-template-areas: "dd oo" "rs rs";
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    text-align: center;
  }
  footer .der {
    grid-area: dd;
  }
  footer .own {
    grid-area: oo;
  }
  footer .rs {
    grid-area: rs;
  }
}

@keyframes whats {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home .methome {
  height: auto;
  width: 50vw;
}
.home .desc {
  width: 50vw;
}
@media (min-width: 431px) and (max-width: 968px) {
  .home .desc {
    width: 80vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .home .methome {
    width: 80vw;
    height: auto;
  }
  .home .desc {
    width: 80vw;
  }
}

.albumes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.albumes iframe {
  width: 25vw;
  height: 400px;
  border: 2px solid whitesmoke;
}
@media (min-width: 431px) and (max-width: 968px) {
  .albumes iframe {
    width: 45vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .albumes {
    flex-direction: column;
  }
  .albumes iframe {
    width: 75vw;
  }
}

.int-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.int-main .metallica {
  width: 60vw;
  height: auto;
}
.int-main .jh h2, .int-main .jh h3 {
  color: green;
}
.int-main .kh h2, .int-main .kh h3 {
  color: gold;
}
.int-main .rt h2, .int-main .rt h3 {
  color: crimson;
}
.int-main section {
  display: flex;
  column-gap: 150px;
}
@media (min-width: 431px) and (max-width: 968px) {
  .int-main {
    display: grid;
    grid-template-areas: "met met" "guitar guitar" "bat bass";
    justify-items: center;
    align-items: center;
  }
  .int-main .met-card {
    width: 35vw;
  }
  .int-main .met-card .bio {
    width: 25vw;
  }
  .int-main .metallica {
    width: 80vw;
    grid-area: met;
  }
  .int-main section {
    grid-area: guitar;
    column-gap: 50px;
  }
  .int-main .lu {
    grid-area: bat;
  }
  .int-main .rt {
    grid-area: bass;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .int-main .metallica {
    width: 80vw;
  }
  .int-main .met-card {
    width: 75vw;
  }
  .int-main .met-card .bio {
    width: 60vw;
  }
  .int-main section {
    flex-direction: column;
    row-gap: 20px;
  }
}

.gal-main {
  margin-top: 25px;
  display: grid;
  grid-template-areas: "jh g1 g1 kh" "jh g1 g1 kh" "g2 g2 g3 g3" "g2 g2 g3 g3" "g4 g4 g4 g4" "g4 g4 g4 g4" "g5 g5 g5 g5" "g5 g5 g5 g5" "lu g6 g6 rt" "lu g6 g6 rt" "g7 g7 g9 g9" "g7 g7 g9 g9" "g8 g8 g8 g8" "g8 g8 g8 g8";
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}
.gal-main .art {
  width: 20vw;
  border-radius: 15px;
}
.gal-main .full {
  width: 80vw;
  border-radius: 25px;
}
.gal-main .gal {
  width: 45vw;
  border-radius: 20px;
}
.gal-main .g1 {
  grid-area: g1;
  width: 30vw;
}
.gal-main .g2 {
  grid-area: g2;
}
.gal-main .g3 {
  grid-area: g3;
}
.gal-main .g4 {
  grid-area: g4;
}
.gal-main .g5 {
  grid-area: g5;
}
.gal-main .g6 {
  grid-area: g6;
}
.gal-main .g7 {
  grid-area: g7;
}
.gal-main .g8 {
  grid-area: g8;
}
.gal-main .g9 {
  grid-area: g9;
}
.gal-main .james {
  grid-area: jh;
}
.gal-main .kirk {
  grid-area: kh;
}
.gal-main .lars {
  grid-area: lu;
}
.gal-main .rob {
  grid-area: rt;
}
@media (min-width: 431px) and (max-width: 968px) {
  .gal-main {
    grid-template-areas: "jh kh lu rt" "g1 g1 g2 g2" "g1 g1 g2 g2" "g3 g3 g6 g6" "g3 g3 g6 g6" "g4 g4 g4 g4" "g4 g4 g4 g4" "g5 g5 g5 g5" "g5 g5 g5 g5" "g7 g7 g9 g9" "g7 g7 g9 g9" "g8 g8 g8 g8" "g8 g8 g8 g8";
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .gal-main {
    grid-template-areas: "jh kh" "lu rt" "g1 g1" "g2 g2" "g3 g3" "g4 g4" "g5 g5" "g6 g6" "g7 g7" "g9 g9" "g8 g8";
  }
  .gal-main .art {
    width: 45vw;
  }
  .gal-main .full, .gal-main .gal {
    width: 90vw;
  }
}

.cont-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.cont-main .form {
  width: 30vw;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  order: 2;
}
.cont-main .form div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cont-main .form div .btn-form {
  padding: 10px;
  background-color: black;
  color: crimson;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.cont-main .form div :hover {
  color: gold;
  cursor: pointer;
}
.cont-main .form input {
  color: black;
}
.cont-main .form textarea {
  margin-top: 10px;
  height: 10vh;
}
.cont-main .orion {
  order: 1;
}
.cont-main .fwtbt {
  order: 3;
}
.cont-main iframe {
  width: 30vw;
}
@media (min-width: 431px) and (max-width: 968px) {
  .cont-main {
    display: grid;
    grid-template-areas: "con con" "or fw";
    justify-items: center;
    align-items: center;
  }
  .cont-main .form {
    width: 80vw;
    grid-area: con;
    align-items: center;
  }
  .cont-main .form input {
    width: 50vw;
  }
  .cont-main .form div {
    column-gap: 30px;
  }
  .cont-main .form div input {
    width: 15vw;
  }
  .cont-main .orion {
    grid-area: or;
  }
  .cont-main .fwtbt {
    grid-area: fw;
  }
  .cont-main iframe, .cont-main textarea {
    width: 45vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .cont-main {
    flex-direction: column;
  }
  .cont-main .form {
    width: 80vw;
    order: 1;
  }
  .cont-main iframe {
    width: 75vw;
  }
  .cont-main .orion {
    order: 2;
  }
  .cont-main .fwtbt {
    order: 3;
  }
}

/*# sourceMappingURL=styles.css.map */
